/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication6/dist/
/QuanLyBienBanClient/dist/
/QuanLyBienBanAPI/build/
/QuanLyBienBanClient/build/
/QuanLyBienBanServer/dist/
/QuanLyBienBanServer/build/
/QuanLyBienBanAPI/dist/
/QuanLyBienBanAPI/nbproject/private/
/QuanLyBienBanClient/nbproject/private/
/QuanLyBienBanServer/nbproject/private/